<app-mynav [dataparent]="data"></app-mynav>
<div
  (mouseenter)="mm()"
  class="the-about d-flex align-items-center justify-content-center py-5"
>
  <div class="theabout-content py-5 my-5">
    <div class="inner py-5 my-3">
      <h2 class="text-center mb-0">ABOUT COMPONENT</h2>
      <div class="the-star p-3 text-center mt-0">
        <span class="my-star position-relative"
          ><i class="text-light fa-solid fa-star"></i
        ></span>
      </div>
      <div
        class="about-prag d-flex align-items-center justify-content-between mx-auto"
      >
        <p class="width">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
        <p class="width">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</div>
